<link rel="stylesheet" href="/css/home_page.css" />

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Home page</h5>

    <a href="/users/logout" class="card-link"
      ><button class="btn btn-danger">Sign Out</button></a
    >
    <a href="/users/reset-password" class="card-link"
      ><button class="btn btn-success">Reset Password</button></a
    >
  </div>
</div>
