<link rel="stylesheet" href="/css/reset-pass.css" />

<div id="container">
  <h1>Change Password</h1>
  <form action="" method="POST" name="Login_Form">
    <div class="form-outline mb-4">
      <input
        type="password"
        placeholder="Password"
        class="password"
        name="password"
        required
      />
    </div>

    <div class="form-outline mb-4">
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm Password"
        required
      />
    </div>

    <input
      type="submit"
      value="Reset Password"
      class="btn btn-success btn-block mb-4"
    />
  </form>
</div>
