<link rel="stylesheet" href="/css/user_sign_up.css" />

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="container">
  <h1>Sign Up</h1>
  <form action="/users/create" method="POST">
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input
        type="text"
        id="registerName"
        class="form-control"
        name="name"
        placeholder="Your Name"
        required
      />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="email"
        id="registerEmail"
        class="form-control"
        name="email"
        placeholder="Your Email"
        required
      />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="registerPassword"
        class="form-control"
        name="password"
        placeholder="Password"
        required
      />
    </div>

    <!-- Repeat Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="registerRepeatPassword"
        class="form-control"
        name="confirm_password"
        placeholder="Confirm Password"
        required
      />
    </div>

    <!-- Submit button -->
    <input
      type="submit"
      class="btn btn-primary btn-block mb-3"
      value="Sign UP"
    />

    <p>Already have an account? <a href="/users/sign-in">Sign In</a></p>

    <button type="button" class="btn btn-link btn-floating mx-2">
      <a href="/users/auth/google"> <i class="fab fa-google"></i></a>
    </button>
  </form>
</div>
